*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container
{
    background-color: darkred;
    color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}

.currencyContainer
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.currencyContainer select
{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: darkred;
    font-size: 16px;
}

.currencyContainer input
{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: right;
    color: white;
    background: transparent;
    font-size: 20px;
}

.currencyContainer span
{
    font-size: 20px;
    color: white;
}

input:focus,
select:focus
{
    outline: none;
}

.exchangeRate
{
font-size: 20px;
}